<% @projects_done_count = Project.where(done: true).count + 10 %>
<% @projects_impact_sum = Project.where(done: true).sum(:impact) + 300%>
<% @liters_count = Participation.count * 40 + 75340 %>

<div class="banner" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(125,185,232,0) 100%), url(<%= image_path 'boys_WI5.jpg' %>);">
  <div class="container">
    <div class="banner-content">
      <div class="share-links">
        <a href="https://www.facebook.com/washin5challenge/?fref=ts" target="_blank" class="share-link bg-facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/washin5challeng" target="_blank" class="share-link bg-twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/washin5challenge" target="_blank" class="share-link bg-instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>

      <div class="banner-bubble">
        <h3> Vous avez déjà économisé <div class="banner-bubble_counter"><%= @liters_count %></div> litres d'eau</h3>
      </div>
    </div>
  </div>
  <div class="history_project">
    <div class="row">
      <div class="col-sm-6 ">
        <div class="row">
          <div class="col-sm-6">
            <%=image_tag 'icon-award.png', class: 'logo' %>
          </div>
          <div class="col-sm-6">
            <%= @projects_done_count %> <p>projets réalisés</p>
          </div>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <%=image_tag 'people-logo.png',  class: 'logo' %>
          </div>
          <div class="col-sm-6">
            <%= @projects_impact_sum %> <p>bénéficiaires</p>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>


