<footer>
<div class="container">
    <div class="row">
    <div class="col-md-12">
                <div id="Carousel" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                <div class="item active">
                  <div class="row">
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                  </div><!--.row-->
                </div><!--.item-->

                <div class="item">
                  <div class="row">
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                  </div><!--.row-->
                </div><!--.item-->

                <div class="item">
                  <div class="row">
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                  </div><!--.row-->
                </div><!--.item-->

                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->

    </div>
  </div>
</div><!--.container-->
  <div class="img-part">
    <ul class="img-list">

      <li id="footer-cleaning-bio">
      <%= link_to((image_tag"cleaning-bio.png"), 'http://www.cleaning-bio34.fr/') %>
      </li>

      <li>
      <%= link_to((image_tag"cjd-montpelier.png"), 'https://cjd-montpellier.net/') %>
      </li>

      <li>
      <%= link_to((image_tag"3wanted-eb.png"), 'http://www.wantedweb.fr/') %>
      </li>

      <li id="footer-drole-de-pain">
      <%= link_to((image_tag"drole-de-pain.png"), 'http://www.droledepain.fr/') %>
      </li>

    </ul>
  </div>
  <div class="footer_link">
    <div class="container">
      <div class="row">
        <div class="mentions-footer">
          <div class="col-xs-6 col-sm-4">
            <ul>
              <li class="link-list">Projets</li>
              <li class="link-list">Photos</li>
              <li class="link-list"><%= link_to "Presse", press_path %></li>
            </ul>
         </div>

          <div class="col-xs-6 col-sm-4">
            <ul>
              <li class="link-list"><%= link_to "Partenaires", contact_path %></li>
              <li class="link-list"><%= link_to "Equipe", team_path %></li>
              <li class="link-list"><%= link_to "Contact", contact_path %></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul >
              <li class="link-list">Mentions légales</li>
              <li class="link-list"> Politique de confidentialité</li>
              <li class="link-list">Conditions d'utilisation</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--<footer><footer class="row" style="background-color:red; padding:bottom;">
  <div class="col-md-6" style="background-color:blue;">
    <h3>hhhhhhhhh</h3>
  </div>
  <div class="col-md-6" style="background-color:red;">
    <h3>hhhhhhhhh</h3>
  </div>

</footer>-->
