
  <div class="banner" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(125,185,232,0) 100%), url(<%= image_path 'boys_WI5.jpg' %>);">
      <div class="container">
        <div class="banner-content">
          <div class="share-links">
            <a href="https://www.facebook.com/washin5challenge/?fref=ts" target="_blank" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/washin5challeng" target="_blank" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/washin5challenge" target="_blank" class="share-link bg-instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </div>

          <div class="banner-bubble">
            <h3> Vous avez déjà économisé <div class="banner-bubble_counter"><%= @liters_count %></div> L d'eau</h3>
          </div>

          <div class="row">
            <div class="col-sm-4 left">
              <%= @projects_done_count %> Projets réalisés
            </div>
          <div class="col-sm-4 right">
            <%= @projects_impact_sum %>  Bénéficiaires
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container">
      <h1 class= "text-center catch-phrase" > Envoyez vos selfies pour une bonne cause !</h1>
      <p class="text-center">Savez-vous que, dans le monde, une personne sur dix n’a pas du tout d’accès à l’eau potable, une personne sur deux n’a pas d’accès sécurisé, et que dans le même temps une douche de 9 min (moyenne nationale française) consomme près de 100 L d’eau potable ? <br >
        Avec le Wash in 5 Challenge, vous allez économiser l’eau pour la redistribuer là où elle manque.
      </p>

      <!-- Projet en cours -->
      <h3>Projet en cours</h3>
      <div class="row no-gutter">
        <div class="col-md-5">
          <div class="card" style="background-image: url(<%= image_path 'filtre2.jpg'%>);"> </div>
        </div>

        <div class="col-md-7">
          <div class="card-description">
            <p class= "subtitle-card text-center">Mission <%= @current_project.name %></p>
            <div class="row">
              <div class="col-md-6">
                <p><%= @current_project.description %> de <%= @current_project.location %> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat qui fugiat atque ab aperiam saepe. Laboriosam tenetur iusto quasi ex est rem? Veritatis officiis, totam cum, velit odio itaque magnam.</p>
                <p class= "subtitle"> L'impact</p>
                <p>De l'eau potable au quotidien pour <%= @current_project.impact %> personnes</p>
              </div>



              <div class="col-md-6 text-center">
                <p>Financé par : <strong>Mr AVOCAT</strong></p>
                  <%= image_tag 'drole-de-pain.png'%>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p class= "subtitle">Objectif : <%= @current_project.pictures_goal %> photos</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="<%=@current_project.pictures_goal%>" style="<%= @current_project.participations.count %>;">
                    <span class="sr-only">40% Complete</span>
                  </div>
                </div>
                <p style="text-align: right">Il manque <%= @current_project.pictures_goal - @current_project.participations.count %> photos !</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= link_to "En savoir plus", project_path(@current_project), class: "btn btn-card"%>
              </div>

              <div class="col-md-6 share">
                <p>Partager</p> <i class="fa fa-share-alt" aria-hidden="true">  </i>
              </div>
            </div>
          </div>
        </div>
      </div>

              
    </div>

    <!-- Projet à venir -->
    <div class="container">
      <div class="row">
        <h3>Projet à venir</h3>
        <% @projects.first(3).each do |project| %>
        <div class="col-md-4 col-xs-12">
            <!-- insert <div class="card"> -->
            <div class="thumbnail">
            <img src="http://unsplash.it/242/200?random" alt="image-projetAVenir">            
              <div class="caption">
                <h3 class="capitalize"><%= project.name %></h3>                  
                  <p>Objectif : <%= project.pictures_goal %> photos</p> <br />
                    <%= project.description %>
                  <p>Financé par : <strong>cleaning-bio34</strong></p>
                  <p>Impact : <%= project.impact %> personnes</p>
              </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
          

    <!-- Projet à venir -->
        <h3>Projet réalisés</h3>
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-xs-12">
              <div class="thumbnail">
                <img src="http://unsplash.it/242/200?random" alt="image-projetRéalisé">            
              <div class="caption">
                <h3></h3>                  


                
              </div>
            </div>
          </div>

    <!-- Follow us -->
          <div class="follow_us">
                <h4>Rejoignez-Nous</h4>
                <img src="mosaique.jpg" alt="Image participants">
                <i class="fa fa-facebook social"> Facebook</i>
                <i class="fa fa-twitter social"> Twitter</i>
                <i class="fa fa-instagram social "> instagram</i>
          </div>
</div>