<div class="banner">
    <div class="share-links">
      <a href="https://www.facebook.com/washin5challenge/?fref=ts" target="_blank" class="share-link bg-facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://twitter.com/washin5challeng" target="_blank" class="share-link bg-twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/washin5challenge" target="_blank" class="share-link bg-instagram">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  <div class="banner-content">
  <h3> Vous avez déjà économisé 51000 L d'eau</h3>
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
      </div>

    </div>
  </div>
</div>


<h1>Projets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Pictures goal</th>
      <th>Project picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.location %></td>
        <td><%= project.pictures_goal %></td>
        <td><%= project.project_picture %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
