<div class="project-title">
  <h2 class= text-center>Mission <%= @project.name %> </h2>

  <div class="subtitle">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <p><%= @project.location %></p>
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <p>Financé par Ma renov</p>
  </div>

</div>

<div class="project-banner" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(125,185,232,0) 100%), url(<%= image_path "filtre_classe.jpg" %>);">
</div>


<div class="container">
  <div class="row project-card">
    <div class="col-xs-12 col-md-6 ">
      <p class= "subtitle">Objectif : <%= @project.pictures_goal %> photos</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="<%=@project.pictures_goal%>" style="width: <%=@project.participations.count%>%;">
        </div>
      </div>
      <p style="text-align: right">Il manque <%= @project.pictures_goal - @project.participations.count%> photos !</p>
    </div>
    <div class="col-xs-12 col-md-6 text-center">
      <%= link_to "Participer au projet", new_project_participation_path(@project), class: "btn btn-card"%>
      <div>Partager
        <a href="https://www.facebook.com/washin5challenge/?fref=ts" target="_blank" class="bg-facebook">
          <i class="fa fa-facebook padded"></i>
        </a>
        <a href="https://twitter.com/washin5challeng" target="_blank" class="bg-twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/washin5challenge" target="_blank" class="bg-instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-7">
      <p><%= @project.description %> de <%= @project.location %> en Inde.</p>
      <p class="subtitle">L'impact</p>
      <p>De l'eau potable au quotidien pour <%=@project.impact %> personnes.</p>
      <p class="subtitle">Financé par</p>
      <p>Ma Rénov <%=image_tag 'ma_renov_logo.jpg', height: 100, width: 200 %></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla impedit vero voluptatem animi rerum quam deserunt, ullam vitae quia distinctio molestiae, aliquam ipsum nobis! Distinctio quis, eligendi accusantium fugit illo!</p>
    </div>

    <div class="col-md-5 picture-grid">
      <div class="row">
        <% if @project.participations.size > 0 %>
          <h3> Déjà <%= @project.users.count %> washeur<%= @project.users.count > 1 ? "s" : "" %> sur ce projet </h3>
          <% @project.last_participations.each do |participation| %>
            <% if participation.picture != nil %>
            <div class="col-xs-6 col-sm-3 mini_picture">
              <%= image_tag cl_image_path(participation.picture.path, height: 300, width: 400, crop: :fill), class: "picture_thumbnail" %>
            <% else %>
              <%= image_tag 'Selfie_icon.png', class: "col-xs-6 col-sm-3 mini_picture"%>
            <% end %>
            </div>
          <% end %>
        <% else %>
          <h3>Soyez le 1er washeur à participer !</h3>
          <%= image_tag 'Selfie_icon.png', class: "col-xs-6 col-sm-3 mini_picture"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
