<div class="project-title">
  <h2 class= text-center>Mission <%= @project.name %> </h2>

  <div class="subtitle">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <p><%= @project.location %></p>
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <p>Ma renov</p>
  </div>

</div>
<div class="project-banner" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(125,185,232,0) 100%), url(<%= image_path "filtre_classe.jpg" %>);">
</div>


<div class="container">
  <div class="row">
    <div class="col-md-7">
      <p>
        <strong>Name:</strong>
        <%= @project.name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @project.description %>
      </p>
      <p>
        <strong>Location:</strong>
        <%= @project.location %>
      </p>
      <p>
        <strong>Pictures goal:</strong>
        <%= @project.pictures_goal %>
      </p>
      <p>
        <strong>Project picture:</strong>
        <%= @project.project_picture %>
      </p>
      <br>
      <%= link_to 'participer', new_project_participation_path(@project), class: "btn-lg btn-danger" %>
    </div>
    <div class="col-md-5">
      <div class="row">
        <% if @project.participations.size > 0 %>
          <h3> Déjà <%= @project.users.count %> washeur<%= @project.users.count > 1 ? "s" : "" %> sur ce projet </h3>
          <% @project.last_participations.each do |participation| %>
            <% if participation.picture != nil %>
            <div class="col-xs-6 col-sm-3 mini_picture">
              <%= image_tag cl_image_path(participation.picture.path, height: 300, width: 400, crop: :fill), class: "picture_thumbnail" %>
            <% else %>
              <%= image_tag 'Selfie_icon.png', class: "col-xs-6 col-sm-3 mini_picture"%>
            <% end %>
            </div>
          <% end %>
        <% else %>
          <h3>Soyez le 1er washeur à participer !</h3>
          <%= image_tag 'Selfie_icon.png', class: "col-xs-6 col-sm-3 mini_picture"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
