<div class="container">
  <div class="row">
    <div class="col-md-7">
      <p>
        <strong>Name:</strong>
        <%= @project.name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @project.description %>
      </p>
      <p>
        <strong>Location:</strong>
        <%= @project.location %>
      </p>
      <p>
        <strong>Pictures goal:</strong>
        <%= @project.pictures_goal %>
      </p>
      <p>
        <strong>Project picture:</strong>
        <%= @project.project_picture %>
      </p>
      <br>
      <%= link_to 'participer', new_project_participation_path(@project), class: "btn-lg btn-danger" %>
    </div>
    <div class="col-md-5">
      <div class="row">
      <h3> Déjà <%= pluralize @project.users.count, "washeur" %> sur ce projet </h3>
        <% if @project.participations != nil %>
          <% @project.last_participations.each do |participation| %>
            <% if participation.picture != nil %>
            <div class="col-xs-6 col-sm-3 mini_picture">
              <%= image_tag cl_image_path(participation.picture.path, height: 300, width: 400, crop: :fill), class: "picture_thumbnail" %>
            <% else %>
              <%= image_tag 'Selfie_icon.png', class: "col-xs-6 col-sm-3 mini_picture"%>
            <% end %>
            </div>
          <% end %>
        <% else %>
          <h3>Soyez le 1er washeur à participer !</h3>
          <%= image_tag 'Selfie_icon.png', class: "col-xs-6 col-sm-3 mini_picture"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
