<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Pictures goal:</strong>
  <%= @project.pictures_goal %>
</p>

<p>
  <strong>Project picture:</strong>
  <%= @project.project_picture %>
</p>

<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
  <button type="submit" class="btn btn-default btn-hero" action= >Participer au projet</button>
  <%= link_to 'Participer au projet' , new_project_participation %>

</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
